.cv {
  width: 60vw;
  height: 100%;
  display: grid;
  grid-template-columns: 4fr 5fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  padding: 20px;
  background-color: rgb(235, 235, 235);
  border-left: 5px solid #00A878;
  border-right: 5px solid #00A878;
}
.none {
  display: none;
}
.cvPersonal {
  grid-column: 1 / 2;
  grid-row: 2 / 6;
}
.cvEducation {
  grid-row: 1 / 4;
  grid-column: 2 / 3;
}
.cvExperience {
  grid-row: 4 / 7;
  grid-column: 2 / 3;
}
.cvSection {
  padding: 20px;
  display: grid;
}
.cvTitle {
  font-size: 40px;
  font-weight: 700;
  text-decoration: underline 2px;
  text-underline-offset: 5px;
}
.cvDataElement {
  font-size: 24px;
}
.inputData {
  font-weight: 700;
  font-size: 26px;
  padding-left: 12px;
}