.education {
  height: 100%;
  width: 1200px;
  display: flex;
  flex-direction: column;
}
.previous {
  width: 300px;
  height: 70px;
  font-size: 24px;
  background-color: #a1a1a1;
  color: white;
  font-weight: 700;
  border: 0;
  border-radius: 20px;
  cursor: pointer;
}
.previous:hover {
  background-color: #8b8b8b;
}
.none {
  display: none;
}
.edu {
  grid-column: 1 / 3;
}
